node_modules
vendor
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
storage/*.key
.env
.env.example
README.md
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
.vscode
.idea
*.test.php
*.spec.php
coverage
